*__pycache__/
*.ipynb_checkpoints/
*.bash_history
*.python_history
zzz*
ed/
*.h5
*.zip
*.tar.gz
*.sif
*.tif
*.pkl
*.pickle
basins/DEMs/
data/lakes/*
data/saturation_counts.csv
data/saturation_counts_methodsdata.csv
data/saturation_countsonly_alldata.csv
data/atl03_raw/*
data/FLUIDplots/
figplots/
imagery/
*.DS_Store
data/fdm/
data/racmo/
data/kmls/
misc/
detection_out_plot/
detection_out_data/
data/validation/melling/
data/validation/fluidsurrf_out
success.txt
